/**
 * Created by lvjr on 2018/11/29.
 * 定义变量值
 */
//color
$white: #fff; //白色
$gray: #ccc; //灰色
$blue: #0076FF; //蓝色
$blue-primary: #3190FE; //淡蓝色
$black: #000; // 黑色


$color-orange-primary:#f9d057;  //初级黄色
$color-orange-secondary:#f78b00; //中级黄色
$color-orange-senior:#fea700; //高级黄色
$color-gray-primary:#adadad; //初级灰色
$color-gray-secondary:#999; //中级灰色
$color-blue:#22affc; //蓝色
$color-green: #6EB03A; //绿色
$color-brown-primary:#482000; //初级褐色
$color-brown-secondary:#906c1e;  //中级褐色
$color-red:#f34141; //红色
$color-red-secondary: #E95E5E; //次红色
$color-black:#333; //黑色
$black-title: #4C4C4C; // 标题黑色
$color-black-secondary: #666; //浅黑色
$color-black-third: #9b9b9b; //浅浅黑色
$color-white:#fff; //白色
$color-amount:5%; //颜色变化值
$color-body-bg: #f3f4f5;   //页面背景色，浅白
$color-senior-bg: #f9f9f9;   //页面背景色，浅白
$color-index-text: #73580a;

//font-size
$font-size-small:12px;
$font-size-smallest:13px;
$font-size-base:14px;
$font-size-large:48px;
$font-size-largest:55px;

//border
$popup-border:1px solid #eceded; //弹框border线
$border:1px solid #e4e4e4; //页面border线
$input-border:1px solid #eceded; //input border线
$border-light:1px solid $color-orange-secondary;  //黄色border

